.footer {
    background-color: $color-dark-purple;
    height: 10rem;
    text-align: center;
    grid-row-start: 8;
    grid-column: 1 / -1;
    background: rgb(75,68,83);
    background: -moz-radial-gradient(circle, rgba(75,68,83,1) 0%, rgba(30,21,41,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(75,68,83,1) 0%, rgba(30,21,41,1) 100%);
    background: radial-gradient(circle, rgba(75,68,83,1) 0%, rgba(30,21,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4453",endColorstr="#1e1529",GradientType=1);
    
    @media only screen and (max-width: $bp-small) {
        
        
           
            
        }
    

    &__text {
        font-size: 1.5rem;
        color: $color-white;
        margin-top: 3.5rem;
    }
}